.container {
  width: 80vw;
  height: 500px;
  margin: 2em auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_container {
  width: 50%;
}

.image_container img {
  height: 70%;
  width: 70%;
  object-fit: contain;
}

.text_container {
  width: 80%;
  padding: 1em;
}

.checkout_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}
