nav {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 1em 4em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 0.5px solid #968452;
  background-color: white;
}

.container {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.logo {
  position: relative;
  width: 20%;
  height: 4em;
  margin-right: 5em;
}

.logo img {
  position: absolute;
  bottom: 4px;
}

.categories {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2em;
}

.auth_cart_container {
  display: flex;
  align-items: center;
  gap: 1em;
}
